@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 26, 24, 22; /* El color #1a1816 de SenderoByte */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  /* Eliminamos el gradiente viejo que venía por defecto en Next.js */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Custom selection para que cuando pintes texto se vea neón */
::selection {
  background-color: #00ff66;
  color: #000;
}
